<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      <%= process.env.npm_package_productTitle %>
    </title>
    <link rel="icon" href="./static/favicon.ico">
    <script src="./static/js/strophe.js"></script>
    <script src="./static/js/pdfjs/pdf.js"></script>
    <!-- <script> </script> -->
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body>
    <div style="display:none; width:100%;height:20px; -webkit-app-region: drag;-webkit-user-select: none;"></div>
    <div id="app" style="margin-top: 20px"></div>
    <!-- Set `__static` path to static files in production -->
    <% if (!process.browser) { %>
      <script>
        if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
      </script>
    <% } %>

    <!-- webpack builds are automatically injected -->
  </body>
</html>
