
// 07a2e8
$theme-color: #07a2e8 !default;
$theme-hover-color: #0A98E8;

$drawer-bg: #3f4a5d;
$drawer-text-color: #ffffff;

$aside-bg: #303847;
$aside-text-color: #ffffff;
$aside-icon-color: #909399;

$fontSize: 12px;
